.patient-card {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .green {
    background-color: #28a745; /* Verde */
    color: white;
  }
  
  .yellow {
    background-color: #ffc107; /* Amarelo */
    color: black;
  }
  
  .red {
    background-color: #dc3545; /* Vermelho */
    color: white;
  }
  